:80 {
	root * /usr/share/caddy
    encode gzip zstd
    file_server

    handle_path /t/* {
        rewrite * /browse/index.html
        file_server
    }
    handle {
        redir / /browse/
        file_server
    }
